<?xml version="1.0" encoding="utf-8"?>
<manifest package="crea.wallet.lite"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".application.WalletApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="btcwallet.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="3"/>

        <meta-data
            android:name="AA_MODELS"
            android:value="crea.wallet.lite.db.BookAddress,
            crea.wallet.lite.db.WalletCrypt,
            com.chip_chap.services.transaction.Btc2BtcTransaction"/>

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.main.CoinTransactionActivity"
            android:label="@string/activity_bitcoin_transaction"
            android:theme="@style/AppTheme.TransactionTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.tool.QRScannerActivity"
            android:label="@string/qr_scanner"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.tool.SeedActivity"
            android:label="@string/activity_seed"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.tool.PinActivity"/>

        <service
            android:name=".service.CreativeCoinService"
            android:exported="false"/>

        <activity
            android:name=".ui.main.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.tool.SendBitcoinActivity"
            android:label="@string/send_bitcoin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="creativecoin"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.address.AddressBookActivity"
            android:label="@string/address_book"
            android:theme="@style/AppTheme.NoShadowActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.main.SettingsActivity"
            android:label="@string/activity_settings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.main.SplashActivity"
            android:theme="@style/AppTheme.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>